# Data Preprocessing

### Import Data

In [5]:
import pandas as pd
import re

In [3]:
df = pd.read_csv('data/DAGs.csv')
df.head()

  Author      Exposure          Outcome Direction  Strength  ID Status
0    NaN      Diabetes  Ischemic stroke  Increase       6.0   1  Final
1    NaN           age  Ischemic stroke  Increase       6.0   1  Final
2    NaN           age         Diabetes  Increase       5.0   1  Final
3    NaN    Sex (Male)  Ischemic stroke  Increase       6.0   1  Final
4    NaN  Hypertension  Ischemic stroke  Increase       6.0   1  Final

### Getting a List of Terms

In [11]:
terms = pd.concat([df.Exposure, df.Outcome], ignore_index=True).unique()
pd.DataFrame(terms, columns=['terms']).to_csv('terms.csv', index=False)

### Cleaning terms

In [6]:
def clean_terms(term):
    term = term.lower()  # Convert to lowercase
    term = re.sub(r'[^a-zA-Z0-9]', ' ', term)  # Replace special characters with a space
    term = re.sub(r'\s+', ' ', term)  # Replace multiple spaces with a single space
    term = term.strip()  # Remove leading/trailing whitespace
    return term

terms_df = pd.read_csv('terms.csv')
terms_df['cleaned_terms'] = terms_df['terms'].apply(clean_terms)
terms_df.head()

          terms cleaned_terms
0      Diabetes      diabetes
1           age           age
2    Sex (Male)      sex male
3  Hypertension  hypertension
4           BMI           bmi

### Grouping Terms